<template lang="pug">
    .seminis-dealer-result-card(
      :class="{placeholder}"
      v-if="placeholder || dealer"
      )
        .seminis-dealer-result-card-name {{ name }}
        .seminis-dealer-result-card-details
          a.seminis-dealer-result-card-website(
            :href="href"
            target="seminisDealer"
            v-if="website"
          )
            include ../assets/desktop.svg
            | {{ websiteString }}
            include ../assets/external-link-alt.svg
          a.seminis-dealer-result-card-phone(
            :href="tel"
            v-if="phoneString"
          )
            include ../assets/phone.svg
            | {{ phoneString }}
          a.seminis-dealer-result-card-email(
            :href="emailLink"
            v-if="email"
          )
            include ../assets/envelope.svg
            | {{ email }}
        .seminis-dealer-result-card-crops(v-if="crops.length > 0")
          .seminis-dealer-result-card-crop(
            v-for="crop in crops"
            :key="`crop_${crop.id}`"
          ) {{ cropName(crop) }}
</template>

<script lang="ts">
import Vue from "vue";
import { Prop, Component } from "vue-property-decorator";
import Dealer from "../models/Dealer";
import { State } from "vuex-class";
import Crop from "@/models/Crop";

@Component({})
export default class SeminisDealerResultCard extends Vue {
  @Prop({ required: false })
  dealer!: Dealer;

  @Prop({ required: false, default: false })
  placeholder!: boolean;

  @Prop({ required: false, default: "" })
  websiteQuerySuffix!: string;

  @State language!: string;

  get name() {
    return this.placeholder ? "Name Here" : this.dealer.name;
  }

  get website() {
    return this.placeholder ? "http://example.com" : this.dealer.website;
  }

  get href() {
    if (null === this.website || this.placeholder) return null;
    if (
      null === this.websiteQuerySuffix ||
      this.websiteQuerySuffix.length === 0
    )
      return this.website;

    return this.website.includes("?")
      ? `${this.website}&${this.websiteQuerySuffix}`
      : `${this.website}?${this.websiteQuerySuffix}`;
  }

  get websiteString() {
    if (null === this.website) return null;

    return this.website
      .replace(/https?:\/\//, "")
      .replace(/^www\./, "")
      .replace(/\/.+$/, "")
      .replace(/\/$/, "");
  }

  get crops() {
    return this.placeholder
      ? [
          { name: "Crop Name", id: 1 },
          { name: "Crop Name", id: 2 },
          { name: "Crop Name", id: 3 }
        ]
      : this.dealer.crops;
  }

  get phone() {
    if (null === this.dealer) return null;
    if (this.dealer.office_phone !== null) return this.dealer.office_phone;
    if (this.dealer.mobile_phone !== null) return this.dealer.mobile_phone;

    return null;
  }

  get phoneString() {
    return this.placeholder ? "123-456-7890" : this.phone;
  }

  get tel() {
    if (null === this.phoneString || this.placeholder) return null;

    return `tel: ${this.phoneString}`;
  }

  get email() {
    return this.placeholder ? "anemail@domain.com" : this.dealer.email_address;
  }

  get emailLink() {
    if (null === this.email || this.placeholder) return null;

    return `mailto:${this.email}`;
  }

  cropName(crop: Crop) {
    if (
      undefined != crop.translations &&
      undefined != crop.translations[this.language]
    ) {
      return crop.translations[this.language];
    }

    return crop.name;
  }
}
</script>

<style scoped lang="scss">
.seminis-dealer-result-card {
  min-height: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 30px 20px;
  box-sizing: border-box;
  word-break: break-word;
  font-size: 0.75em;
  background-color: #fff;

  &-name {
    font-weight: bold;
    font-size: #{(24 / 18 / 0.75)}em;
    margin-bottom: 0.5em;
  }

  &-details {
    margin-top: 40px;
    font-size: #{(16 / 18 / 0.75)}em;

    &:empty {
      margin-top: 0;
    }
  }

  &-website,
  &-phone,
  &-email {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }

  &-phone,
  &-email {
    color: var(--primary-color);
    svg {
      width: auto;
      height: 1em;
      transform: scaleX(-1);
      margin-right: 1em;
    }
  }

  &-website {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    svg {
      width: auto;
      height: 1em;
      &.desktop {
        transform: scaleX(-1);
        margin-right: 1em;
      }
      &.external-link-alt {
        margin-left: 1em;
        path {
          fill: currentColor;
        }
      }
    }
  }

  &-crops {
    display: flex;
    flex-wrap: wrap;
    margin-top: 37px;
  }

  &-crop {
    font-size: #{(11 / 18 / 0.75)}em;
    font-weight: bold;
    padding: #{(6/11)}em #{(14/11)}em;
    border: 3px solid var(--crop-border-color);
    border-radius: 1em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }

  &.placeholder {
    .seminis-dealer-result-card-name,
    .seminis-dealer-result-card-phone,
    .seminis-dealer-result-card-email,
    .seminis-dealer-result-card-markets,
    .seminis-dealer-result-card-crop,
    .seminis-dealer-result-card-website {
      background-color: #e3e3e3;
      color: transparent;
    }

    svg {
      opacity: 0;
    }
  }
}
</style>
