<template lang="pug">
    .seminis-dealer-location(
        @click="tryToGeoLocate"
        v-if="canGeolocate"
    )
      include ../assets/location.svg
</template>

<script lang="ts">
import Vue from "vue";

import { Component } from "vue-property-decorator";
import { Action, Mutation } from "vuex-class";
import LatLng from "../models/LatLng";
import { SearchType } from "../store";

interface NavigatorPosition {
  coords: {
    latitude: number;
    longitude: number;
  };
}


interface GeolocateFailure {
    code: number;
    message: string;
}

@Component({})
export default class SeminisDealerLocation extends Vue {
  @Mutation setLocation!: (payload: LatLng) => void;
  @Mutation setLoading!: (payload: boolean) => void;
  @Mutation setIntroduced!: (payload: boolean) => void;
  @Mutation setSearchString!: (payload: string) => void;
  @Mutation setError!: (payload: string) => void;

  @Mutation setSearchType!: (payload: SearchType) => void;
  @Action fetchDealers!: () => void;

  tryToGeoLocate() {
    this.setLoading(true);
    navigator.geolocation.getCurrentPosition(
      this.geolocateSuccess,
      this.geolocateFailure
    );
  }

  geolocateSuccess(position: NavigatorPosition) {
    this.setIntroduced(true);

    const location: LatLng = {
      lat: position.coords.latitude,
      lon: position.coords.longitude
    };

    this.setLocation(location);
    this.setSearchString("");
    this.setSearchType(SearchType.Location);
    this.fetchDealers();
  }

  geolocateFailure(error: GeolocateFailure) {
    this.setLoading(false);
    this.setError(error.message);
    console.warn(`Could not get your location. ${error.message}`);
    return false;
  }

  get canGeolocate(): boolean {
    if ("geolocation" in navigator) {
      return true;
    } else {
      return false;
    }
  }
}
</script>

<style lang="scss" scoped>
.seminis-dealer-location {
  cursor: pointer;
  color: var(--primary-color);

  svg {
    path {
      fill: var(--primary-color);
    }
  }
}
</style>
