<template lang="pug">
    .seminis-dealer-sort-container
        label.seminis-dealer-sort 
            | {{ dealerResultsSortLabel }}
            select.seminis-dealer-sort-dropdown(
                @input="updateSortOrder"
            )
                option(:selected="isAscending") {{ dealerResultsSortAscendingLabel }}
                option(:selected="!isAscending") {{ dealerResultsSortDescendingLabel }}
</template>

<script lang="ts">
import { Vue, Prop, Component } from "vue-property-decorator";
import { SortOrder } from "../store";
import { Mutation, State } from "vuex-class";

@Component({})
export default class SeminisDealerResultSorter extends Vue {
  @Prop({ required: true })
  dealerResultsSortLabel!: string;

  @Prop({ required: true })
  dealerResultsSortAscendingLabel!: string;

  @Prop({ required: true })
  dealerResultsSortDescendingLabel!: string;

  @State
  public sortOrder!: SortOrder;

  get isAscending() {
    return this.sortOrder === SortOrder.Ascending;
  }

  @Mutation setSortOrder!: (payload: SortOrder) => void;

  updateSortOrder(e: InputEvent): void {
    this.setSortOrder(
      (e.target as HTMLSelectElement).value ===
        this.dealerResultsSortAscendingLabel
        ? SortOrder.Ascending
        : SortOrder.Descending
    );
  }
}
</script>

<style lang="scss" scoped>
.seminis-dealer-sort-container {
  position: relative;
  flex-shrink: 0;
  &::after {
    content: "";
    display: inline-block;
    border-style: solid;
    border-color: var(--primary-color);
    border-width: 0 2px 2px 0;
    padding: 2px;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    bottom: 25px;
    pointer-events: none;
  }

  label {
    display: block;
    font-size: #{(14/18)}em;
    text-transform: uppercase;
    font-weight: bold;
  }

  select {
    all: unset;
    display: block;
    box-sizing: border-box;
    font-size: #{(16/14)}em;
    color: var(--primary-color);
    margin-top: #{(7/14)}em;
    padding: #{(13/16)}em #{(40/16)}em #{(15/16)}em #{(20/16)}em;
    border: 1px solid var(--border-color);
    width: 100%;
  }
}
</style>
