<template lang="pug">
    .seminis-dealer-intro(
      v-show="!introduced"
    )
        header.seminis-dealer-intro-header
            .seminis-dealer-find-dealer-text {{ findDealerText }}
            .seminis-dealer-intro-start-search-prompt {{startSearchPrompt}}
            .seminis-dealer-intro-your-location-text {{ yourLocationText }}
            SeminisDealerSearch.seminis-dealer-intro-search(:withPlaces="false")
    
</template>

<script lang="ts">
import Vue from "vue";
import { Prop, Component } from "vue-property-decorator";
import SeminisDealerSearch from "@/components/SeminisDealerSearch.vue";
import SeminisDealerLocation from "@/components/SeminisDealerLocation.vue";
import { State } from "vuex-class";

@Component({
  components: {
    SeminisDealerSearch,
    SeminisDealerLocation
  }
})
export default class SeminisDealerIntro extends Vue {
  @Prop({ required: true })
  findDealerText!: string;

  @Prop({ required: true })
  startSearchPrompt!: string;

  @Prop({ required: true })
  yourLocationText!: string;

  @State
  public introduced!: boolean;
}
</script>

<style lang="scss" scoped>
.seminis-dealer-intro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 250ms linear;
  background: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: #{(45/18)}em var(--padding-x);

  @media screen and (min-width: 768px) {
    padding-top: #{(142/18)}em;
  }

  .seminis-dealer-find-dealer-text {
    font-size: #{(45/18)}em;
    font-weight: bold;
    margin-bottom: #{(30/45)}em;
    line-height: 1;
    @media screen and (min-width: 768px) {
      margin-bottom: #{(8/45)}em;
    }
  }

  .seminis-dealer-intro-start-search-prompt {
    margin: #{(30/15)}em 0 #{(60/15)}em;
    font-size: #{(15/18)}em;

    @media screen and (min-width: 768px) {
      margin-top: #{(8/18)}em;
    }
  }

  .seminis-dealer-intro-your-location-text {
    font-weight: bold;
    margin-bottom: #{(20/18)}em;
    text-transform: capitalize;
  }

  .seminis-dealer-intro-search {
    margin: 0 0 0.5em;
  }
}
</style>
