<script lang="ts">
import "core-js/stable";
import "regenerator-runtime/runtime";

import { Component, Prop, Vue } from "vue-property-decorator";
import { Mutation, State } from "vuex-class";
import { Loader as GoogleMapsApiLoader } from "@googlemaps/js-api-loader";
import SeminisDealerIntro from "./SeminisDealerIntro.vue";
import SeminisDealerSidebar from "./SeminisDealerSidebar.vue";
import SeminisDealerResults from "./SeminisDealerResults.vue";
import store from "../store";

@Component({
  components: {
    SeminisDealerIntro,
    SeminisDealerSidebar,
    SeminisDealerResults
  },
  store
})
export default class SeminisDealerLocator extends Vue {
  @Prop({ required: true })
  dealerApiEndpoint!: string;

  @Prop({ default: "Find a Dealer in Your Area" })
  findDealerText!: string;

  @Prop({
    default:
      "Start by entering your zip code, city and state, or country below."
  })
  startSearchPrompt!: string;

  @Prop({ default: "Your location" })
  yourLocationText!: string;

  @Prop({ default: "Where To Buy" })
  titleText!: string;

  @Prop({ default: "Loading results" })
  loadingResultsText!: string;

  @Prop({ default: "Location" })
  searchLabel!: string;

  @Prop({ default: "Results for" })
  locationResultsPlural!: string;

  @Prop({ default: "Result for" })
  locationResultsSingular!: string;

  @Prop({ default: "Filters" })
  filterToggleMobileLabel!: string;

  @Prop({ default: "Cancel" })
  filterCancelLabel!: string;

  @Prop({ default: "Apply" })
  filterApplyLabel!: string;

  @Prop({ default: "Types" })
  typesLabel!: string;

  @Prop({ default: "Markets" })
  marketsLabel!: string;

  @Prop({ default: "Crops" })
  cropsLabel!: string;

  @Prop({ default: "See all types" })
  typesViewAllLabel!: string;

  @Prop({ default: "See all markets" })
  marketsViewAllLabel!: string;

  @Prop({ default: "See all crops" })
  cropsViewAllLabel!: string;

  @Prop({ default: 6 })
  filtersInitiallyVisible!: number;

  @Prop({ default: "reset" })
  resetLabel!: string;

  @Prop({ default: "Search" })
  dealerResultsSearchLabel!: string;

  @Prop({ default: "I'm looking for ..." })
  dealerResultsSearchPlaceholder!: string;

  @Prop({ default: "Sort" })
  dealerResultsSortLabel!: string;

  @Prop({ default: "A - Z" })
  dealerResultsSortAscendingLabel!: string;

  @Prop({ default: "Z - A" })
  dealerResultsSortDescendingLabel!: string;

  @Prop({ default: "Results" })
  dealerResultsPlural!: string;

  @Prop({ default: "Result" })
  dealerResultsSingular!: string;

  @Prop({ required: true })
  googleMapsApiKey!: string;

  @Prop({ default: "utm_source=seminis_dealer_locator" })
  websiteQuerySuffix!: string;

  @Prop({ default: "global" })
  language!: string;

  @State
  public introduced!: boolean;

  @Mutation setDealerApiEndpoint!: (endpoint: string) => void;
  @Mutation setGoogleMapsApiReady!: (status: boolean) => void;
  @Mutation setLanguage!: (language: string) => void;

  async retrieveGoogleMapsApi() {
    await new GoogleMapsApiLoader({
      apiKey: this.googleMapsApiKey,
      libraries: ["places"]
    }).load();
    this.setGoogleMapsApiReady(true);
  }

  async mounted() {
    this.setLanguage(this.language);
    this.setDealerApiEndpoint(this.dealerApiEndpoint);
    await this.retrieveGoogleMapsApi();
  }
}
</script>

<template lang="pug">
    .seminis-dealer-locator
        SeminisDealerIntro(
            v-if="!introduced"
            :findDealerText="findDealerText"
            :startSearchPrompt="startSearchPrompt"
            :yourLocationText="yourLocationText"
        )
        .seminis-dealer-locator-main(
          :class="{'un-introduced': !introduced }"
        )
            SeminisDealerResults(
              v-bind="$props"
            )
            SeminisDealerSidebar(
                v-bind="$props"
            )
</template>

<style lang="scss" scoped>
.seminis-dealer-locator {
  --primary-color: #208643;
  --secondary-color: #575757;
  --market-color: #bfbcb2;
  --border-color: #bfbfbf;
  --padding-x: 2em;
  --crop-border-color: #ebebeb;
  --sidebar-desktop-width: 300px;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  height: 100vh;
  width: 100%;

  .seminis-dealer-locator-mobile-only {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &-main {
    flex-basis: 100%;
    flex-direction: column-reverse;
    display: flex;
    justify-content: flex-end;
    height: 100%;

    @media screen and (min-width: 768px) {
      flex-direction: row-reverse;

      .seminis-dealer-sidebar {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: var(--sidebar-desktop-width);
        display: flex;
        flex-direction: column;
      }

      .seminis-dealer-results {
        flex-grow: 3;
        overflow-y: auto;
      }
    }

    &.un-introduced {
      filter: blur(4px);
    }
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }
}
</style>

<style lang="scss">
html,
body {
  @media screen and (max-width: 767px) {
    height: 100%;
  }
}
</style>
