<template lang="pug">
    .seminis-dealer-results-header-count 
        | {{ resultsCount }}
        span.seminis-dealer-results-location(v-if="!loading && showLocation") {{ searchValue }}
</template>

<script lang="ts">
import Vue from "vue";
import { Prop, Component } from "vue-property-decorator";
import { Getter, State } from "vuex-class";
import Dealer from "@/models/Dealer";
import { SearchType } from "@/store";

@Component({})
export default class SeminisDealerResultCount extends Vue {
  @Prop({ required: true })
  loadingResultsText!: string;

  @Prop({ required: true })
  dealerResultsPlural!: string;
  @Prop({ required: true })
  dealerResultsSingular!: string;

  @Prop({ required: true })
  locationResultsPlural!: string;
  @Prop({ required: true })
  locationResultsSingular!: string;

  @Prop({ required: true })
  yourLocationText!: string;

  @Prop({ default: true })
  showLocation!: boolean;

  @Getter("filteredDealers") filteredDealers!: Dealer[];
  @State loading!: boolean;

  @State searchType!: SearchType;
  @State searchString!: string;
  @State currentSearchString!: string;

  get resultsCount() {
    if (this.loading) return this.loadingResultsText;

    return this.filteredDealers.length === 1
      ? [
          this.filteredDealers.length,
          this.showLocation
            ? this.locationResultsSingular
            : this.dealerResultsSingular
        ].join(" ")
      : [
          this.filteredDealers.length,
          this.showLocation
            ? this.locationResultsPlural
            : this.dealerResultsPlural
        ].join(" ");
  }

  get searchValue() {
    return this.searchType === SearchType.SearchString
      ? this.currentSearchString
      : this.yourLocationText;
  }
}
</script>

<style lang="scss" scoped>
.seminis-dealer-results-header-count {
  font-weight: bold;
}
.seminis-dealer-results-location {
  margin-left: 0.25em;
  display: inline-block;
  color: var(--primary-color);
}
</style>
