<template lang="pug">
    .seminis-dealer-filter
        .seminis-dealer-filter-header
          .seminis-dealer-filter-label {{ typeLabel }}
          .seminis-dealer-filter-reset(
            @click.stop="resetOptions()"
            v-if="selectedOptions.length > 0"
          ) {{ resetLabel}}
        .seminis-dealer-filter-options
          .seminis-dealer-filter-option(
            :key="`${typeKey}_${option.id}`"
            v-for="(option, index) in displayedOptions"
          )
            input(
              type="checkbox"
              :id="`${typeKey}_${option.id}`"
              :value="option.selected"
              :checked="option.selected"
              @input="updateOption(index, $event.target.checked)"
            ).seminis-dealer-filter-option-checkbox
            label(
              :for="`${typeKey}_${option.id}`"
            ).seminis-dealer-filter-option-label {{ optionName(option) }}
          .seminis-dealer-filter-show-more-options(
            v-if="!displayAll"
            @click="forceDisplayAll = true"
          ) {{ typeViewAllLabel }}

</template>

<script lang="ts">
import Vue from "vue";

import { Prop, Component } from "vue-property-decorator";
import { State, Getter, Mutation } from "vuex-class";
import FilterIdSet from "@/models/FilterIdSet";
import Filter from "@/models/Filter";

interface SelectableFilter extends Filter {
  selected: boolean;
}

interface Translations {
  [countryCode: string]: string;
}

interface TranslatebleFilter extends Filter {
  translations?: Translations;
}

@Component({})
export default class SeminisDealerFilter extends Vue {
  @Prop({ required: true })
  typeLabel!: string;

  @Prop({ required: true })
  resetLabel!: string;

  @Prop({
    required: true,
    validator: (value: string) =>
      ["types", "crops", "markets"].indexOf(value) > -1
  })
  typeKey!: string;

  @Prop({ required: true })
  typeViewAllLabel!: string;

  @Prop({ required: true })
  filtersInitiallyVisible!: number;

  @State("filters") filters!: FilterIdSet;
  @State language!: string;

  @Getter("types") types!: Filter[];
  @Getter("markets") markets!: Filter[];
  @Getter("crops") crops!: Filter[];

  @Mutation setFilters!: (payload: FilterIdSet) => void;

  forceDisplayAll = false;

  get displayAll() {
    return (
      this.forceDisplayAll ||
      this.options.length <= this.filtersInitiallyVisible
    );
  }

  get displayedOptions() {
    if (this.displayAll) return this.options;

    return this.options.slice(0, this.filtersInitiallyVisible);
  }

  get options() {
    // all the options of the type with their status from filters
    let options: Filter[] = [];
    let filters: number[] = [];
    switch (this.typeKey) {
      case "types":
        options = this.types;
        filters = this.filters.types;

        break;
      case "markets":
        options = this.markets;
        filters = this.filters.markets;
        break;
      case "crops":
        options = this.crops;
        filters = this.filters.crops;
        break;

      default:
        break;
    }
    return options.map((option: Filter) => ({
      ...option,
      selected:
        undefined !== filters.find((filterId: number) => filterId === option.id)
    }));
  }

  set options(value) {
    const newFilters: FilterIdSet = {
      ...this.filters,
      [this.typeKey]: value
        .filter((filter: SelectableFilter) => filter.selected)
        .map((filter: SelectableFilter) => filter.id)
    };
    this.setFilters(newFilters);
  }

  get selectedOptions() {
    return this.options.filter((option: SelectableFilter) => option.selected);
  }

  optionName(option: TranslatebleFilter): string {
    if (
      undefined != option.translations &&
      undefined != option.translations[this.language]
    ) {
      return option.translations[this.language];
    }

    return option.name;
  }

  updateOption(index: number, selected: boolean) {
    // Not sure why a simple splice didn't trigger reactivity here.
    // Must have something to do with the setter looking for assignment.
    this.options = this.options.reduce(
      (
        carry: SelectableFilter[],
        current: SelectableFilter,
        currentIndex: number
      ) => {
        currentIndex !== index
          ? carry.push(current)
          : carry.push({
              ...this.options[index],
              selected
            });

        return carry;
      },
      [] as SelectableFilter[]
    );
  }

  resetOptions() {
    this.options = [];
  }
}
</script>

<style scoped lang="scss">
.seminis-dealer-filter {
  font-size: #{(16/18)}em;
  padding: #{(20/16)}em calc(var(--padding-x) / (16 / 18));

  &:first-child {
    border-top: 0;
  }
}
.seminis-dealer-filter-header {
  display: flex;
  justify-content: space-between;
  font-size: inherit;
}

.seminis-dealer-filter-label {
  font-weight: bold;
  font-size: #{(18/16)}em;
}
.seminis-dealer-filter-reset {
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
}

.seminis-dealer-filter-options {
  margin-top: #{(20/16)}em;
}

.seminis-dealer-filter-option {
  margin: #{(10/16)}em 0 0;

  &:first-child {
    margin-top: 0;
  }
}

.seminis-dealer-filter-option-label {
  color: var(--secondary-color);
  cursor: pointer;
  position: relative;
  padding-left: #{(34/16)}em;
  // padding-top: #{(5/16)}em;
  // padding-bottom: #{(5/16)}em;
  display: block;
  line-height: #{(24/16)};

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: #{(24/16)}em;
    height: #{(24/16)}em;
    border: 1px solid var(--border-color);
    background: transparent;
    border-radius: 0;
  }

  &::after {
    content: "\2713\0020";
    position: absolute;
    top: calc(#{(1/16)}em);
    left: 0.2em;
    font-size: 1.5em;
    line-height: 0.8;
    color: var(--primary-color);
    transition: opacity 0.2s, transform 0.2s;
    font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
  }
}
.seminis-dealer-filter-option-checkbox {
  display: none;

  &:not(:checked) {
    & + .seminis-dealer-filter-option-label::after {
      opacity: 0;
      transform: scale(0);
    }
  }

  &:checked {
    & + .seminis-dealer-filter-option-label::after {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.seminis-dealer-filter-show-more-options {
  color: var(--primary-color);
  font-size: #{(13/18)}em;
  padding-left: #{(36/13)}em;
  margin-top: #{(18/13)}em;
  position: relative;
  font-weight: bold;
  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    border-style: solid;
    border-color: var(--primary-color);
    border-width: 0 2px 2px 0;
    padding: 2px;
    transform: rotate(45deg);
    position: absolute;
    left: #{(10/13)}em;
    top: 3px;
    pointer-events: none;
  }
}
</style>
