<script lang="ts">
import Vue from "vue";

import { Component, Prop } from "vue-property-decorator";
import SeminisDealerResultCard from "./SeminisDealerResultCard.vue";
import SeminisDealerResultCount from "./SeminisDealerResultCount.vue";
import SeminisDealerResultSorter from "./SeminisDealerResultSorter.vue";
import { Getter, State, Mutation } from "vuex-class";
import Dealer from "@/models/Dealer";

@Component({
  components: {
    SeminisDealerResultCard,
    SeminisDealerResultCount,
    SeminisDealerResultSorter
  }
})
export default class SeminisDealerResults extends Vue {
  @Prop({ required: true })
  titleText!: string;

  @Prop({ required: true })
  dealerResultsPlural!: string;
  @Prop({ required: true })
  dealerResultsSingular!: string;

  @Prop({ required: true })
  dealerResultsSortLabel!: string;

  @Prop({ required: true })
  dealerResultsSortAscendingLabel!: string;

  @Prop({ required: true })
  dealerResultsSortDescendingLabel!: string;

  @Prop({ required: true })
  locationResultsPlural!: string;
  @Prop({ required: true })
  locationResultsSingular!: string;

  @Prop({ required: true })
  loadingResultsText!: string;

  @Prop({ required: true })
  yourLocationText!: string;

  @Prop({ required: true })
  websiteQuerySuffix!: string;

  @Getter("filteredDealers") filteredDealers!: Dealer[];
  @State dealers!: Dealer[];
  @State loading!: boolean;
  @State resultsSearchString!: string;

  @Mutation setResultsSearchString!: (payload: string) => void;

  get resultsCount() {
    if (this.loading) return this.loadingResultsText;

    return this.filteredDealers.length === 1
      ? [this.filteredDealers.length, this.dealerResultsSingular].join(" ")
      : [this.filteredDealers.length, this.dealerResultsPlural].join(" ");
  }
}
</script>

<template lang="pug">
    .seminis-dealer-results
        header.seminis-dealer-results-header
          .seminis-dealer-results-header-left
            .seminis-dealer-title.seminis-dealer-locator-hide-mobile {{ titleText }}
            SeminisDealerResultCount(
              :loadingResultsText="loadingResultsText"
              :dealerResultsSingular="dealerResultsSingular"
              :dealerResultsPlural="dealerResultsPlural"
              :locationResultsSingular="locationResultsSingular"
              :locationResultsPlural="locationResultsPlural"
              :yourLocationText="yourLocationText"
            )
          SeminisDealerResultSorter(
                :dealerResultsSortLabel="dealerResultsSortLabel"
                :dealerResultsSortAscendingLabel="dealerResultsSortAscendingLabel"
                :dealerResultsSortDescendingLabel="dealerResultsSortDescendingLabel"
          )
        .seminis-dealer-results-list
            SeminisDealerResultCard(
                :key="dealer.id"
                v-for="dealer in filteredDealers"
                :dealer="dealer"
                v-if="!loading"
                :websiteQuerySuffix="websiteQuerySuffix"
            )
            SeminisDealerResultCard(
              v-for="n in 24"
              v-if="loading"
              :placeholder="true"
            )
</template>

<style lang="scss" scoped>
.seminis-dealer-locator-mobile-only {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.seminis-dealer-results {
  --results-desktop-padding-x: 40px;

  @media screen and (min-width: 768px) {
    border-left: 1px solid var(--border-color);
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.seminis-dealer-title {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    font-size: #{(45/18)}em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: #{(8/45)}em;
  }
}
.seminis-dealer-results-header {
  display: none;

  @media screen and (min-width: 768px) {
    padding: 2rem var(--results-desktop-padding-x) 1rem;
    display: flex;
    // position: fixed;
    // right: 0;
    // left: calc(var(--sidebar-desktop-width) + 1px);
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 0;
    z-index: 200;
    flex-shrink: 0;
  }

  &-count {
    font-size: #{(15/18)}em;
  }

  &-search-container {
    @media screen and (min-width: 768px) {
      width: 300px;
      max-width: 50%;
    }

    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid var(--border-color);
      right: 12px;
      top: 50%;
      transform: translate(-70%, calc(-70% + 10px));
      pointer-events: none;
    }
    &::after {
      position: absolute;
      content: "";
      width: 6px;
      height: 0;
      border-bottom: 2px solid var(--border-color);
      right: 12px;
      top: 50%;
      transform: translate(-90%, calc(80% + 10px)) rotate(45deg);
      pointer-events: none;
    }
  }

  &-search {
    all: unset;
    appearance: none;
    background-color: #fff;
    border: 2px solid var(--border-color);
    padding: 0.5rem calc(1rem + 24px) 0.5rem 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
    font-size: 0.75em;
  }
}

.seminis-dealer-results-list {
  padding: 0 var(--padding-x) 2rem;

  @media screen and (min-width: 768px) {
    padding: 2rem var(--results-desktop-padding-x);
    flex-shrink: 1;
    overflow-y: auto;
  }

  > * {
    margin-top: 0.75rem;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }

    @media screen and (min-width: 968px) {
      margin-top: 1.5rem;
      width: calc(50% - 0.75rem);
      margin-right: calc(2 * 0.75rem);

      &:first-child {
        margin-top: 1.5rem;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 1400px) {
      width: calc(33.33% - (4 / 3 * 0.75rem));
      &:nth-child(2n) {
        margin-right: calc(2 * 0.75rem);
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    // @media screen and (min-width: 1400px) {
    //   width: calc(25% - (6 / 4 * 0.75rem));
    //   &:nth-child(2n) {
    //     margin-right: calc(2 * 0.75rem);
    //   }
    //   &:nth-child(3n) {
    //     margin-right: calc(2 * 0.75rem);
    //   }
    //   &:nth-child(4n) {
    //     margin-right: 0;
    //   }
    // }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
</style>
