<template lang="pug">
    aside.seminis-dealer-sidebar
        .seminis-dealer-sidebar-title.seminis-dealer-locator-mobile-only {{ titleText }}
        .seminis-dealer-sidebar-search(ref="sidebarSearch")
            .seminis-dealer-sidebar-search-label {{ searchLabel }}
            SeminisDealerSearch(
                  :forceFocus="introduced"
                ).seminis-dealer-sidebar-search-input
            .seminis-dealer-sidebar-search-label.seminis-dealer-locator-hide-mobile {{ dealerResultsSearchLabel}}
            SeminisDealerResultSearch.seminis-dealer-locator-hide-mobile(:placeholder="dealerResultsSearchPlaceholder")
        .seminis-dealer-sidebar-filters-header(
          ref="mobileFilterHeader"
          :class="{'filter-affixed': filtersOpen}"
        )
            SeminisDealerResultCount(
              :loadingResultsText="loadingResultsText"
              :dealerResultsSingular="dealerResultsSingular"
              :dealerResultsPlural="dealerResultsPlural"
              :locationResultsSingular="locationResultsSingular"
              :locationResultsPlural="locationResultsPlural"
              :yourLocationText="yourLocationText"
              :showLocation="false"
            )
            .seminis-dealer-sidebar-filters-toggle(
              @click="handleFiltersOpen()"
              :class="{open: filtersOpen}"
              v-show="!loading"
            )
              include ../assets/filter.svg
              | {{ filterToggleMobileLabel }}
        .seminis-dealer-sidebar-filters(:class="{open: filtersOpen}" ref="filters")
            .seminis-dealer-sidebar-filters-header.placeholder.seminis-dealer-locator-mobile-only
            .seminis-dealer-mobile-options.seminis-dealer-locator-mobile-only
              label.seminis-dealer-results-search-label
                span {{ dealerResultsSearchLabel }}
                SeminisDealerResultSearch(
                  :placeholder="dealerResultsSearchPlaceholder"
                )
              SeminisDealerResultSorter(
                :dealerResultsSortLabel="dealerResultsSortLabel"
                :dealerResultsSortAscendingLabel="dealerResultsSortAscendingLabel"
                :dealerResultsSortDescendingLabel="dealerResultsSortDescendingLabel"
              )
            .seminis-dealer-sidebar-filters-list
              SeminisDealerFilter(
                  :typeLabel="typesLabel"
                  :typeViewAllLabel="typesViewAllLabel"
                  :resetLabel="resetLabel"
                  typeKey="types"
                  :filtersInitiallyVisible="filtersInitiallyVisible"
                  v-if="types.length > 0"
              )
              SeminisDealerFilter(
                  :typeLabel="marketsLabel"
                  :typeViewAllLabel="marketsViewAllLabel"
                  :resetLabel="resetLabel"
                  typeKey="markets"
                  :filtersInitiallyVisible="filtersInitiallyVisible"
                  v-if="markets.length > 0"
              )
              SeminisDealerFilter(
                  :typeLabel="cropsLabel"
                  :typeViewAllLabel="cropsViewAllLabel"
                  :resetLabel="resetLabel"
                  typeKey="crops"
                  :filtersInitiallyVisible="filtersInitiallyVisible"
                  v-if="crops.length > 0"
              )
            .seminis-dealer-sidebar-filter-actions.seminis-dealer-locator-mobile-only(
              v-if="filtersOpen"
            )
              .seminis-dealer-action-btn(
                @click="resetFilters()"
              ) {{ filterCancelLabel }}
              .seminis-dealer-action-btn.seminis-dealer-btn-primary(
                @click="handleFiltersOpen()"
              ) {{ filterApplyLabel }}
            .seminis-dealer-sidebar-filter-actions.seminis-dealer-locator-mobile-only.placeholder
              .seminis-dealer-action-btn(
                @click="resetFilters()"
              ) {{ filterCancelLabel }}
              .seminis-dealer-action-btn.seminis-dealer-btn-primary(
                @click="handleFiltersOpen()"
              ) {{ filterApplyLabel }}
</template>

<script lang="ts">
import Vue from "vue";
import { disableBodyScroll, enableBodyScroll } from "body-scroll-lock";
import { Prop, Component } from "vue-property-decorator";
import SeminisDealerSearch from "@/components/SeminisDealerSearch.vue";
import SeminisDealerResultSearch from "@/components/SeminisDealerResultSearch.vue";
import SeminisDealerResultCount from "@/components/SeminisDealerResultCount.vue";
import SeminisDealerResultSorter from "@/components/SeminisDealerResultSorter.vue";
import SeminisDealerLocation from "@/components/SeminisDealerLocation.vue";
import SeminisDealerFilter from "@/components/SeminisDealerFilter.vue";
import { State, Getter, Mutation } from "vuex-class";
import { SearchType, SortOrder } from "../store";
import LatLng from "../models/LatLng";
import Dealer from "@/models/Dealer";
import Filter from "@/models/Filter";
import FilterIdSet from "@/models/FilterIdSet";

@Component({
  components: {
    SeminisDealerFilter,
    SeminisDealerLocation,
    SeminisDealerSearch,
    SeminisDealerResultSearch,
    SeminisDealerResultCount,
    SeminisDealerResultSorter
  }
})
export default class SeminisDealerSidebar extends Vue {
  @Prop({ required: true })
  titleText!: string;

  @Prop({ required: true })
  searchLabel!: string;

  @Prop({ required: true })
  resetLabel!: string;

  @Prop({ required: true })
  typesLabel!: string;

  @Prop({ required: true })
  marketsLabel!: string;

  @Prop({ required: true })
  cropsLabel!: string;

  @Prop({ required: true })
  typesViewAllLabel!: string;

  @Prop({ required: true })
  marketsViewAllLabel!: string;

  @Prop({ required: true })
  cropsViewAllLabel!: string;

  @Prop({ required: true })
  filtersInitiallyVisible!: number;

  @Prop({ required: true })
  yourLocationText!: string;

  @Prop({ required: true })
  filterToggleMobileLabel!: string;

  @Prop({ required: true })
  filterCancelLabel!: string;

  @Prop({ required: true })
  filterApplyLabel!: string;

  @Prop({ default: "Search" })
  dealerResultsSearchLabel!: string;

  @Prop({ default: "I'm looking for ..." })
  dealerResultsSearchPlaceholder!: string;

  @Prop({ required: true })
  dealerResultsSortLabel!: string;

  @Prop({ required: true })
  dealerResultsSortAscendingLabel!: string;

  @Prop({ required: true })
  dealerResultsSortDescendingLabel!: string;

  @Prop({ required: true })
  dealerResultsPlural!: string;

  @Prop({ required: true })
  dealerResultsSingular!: string;

  @Prop({ required: true })
  locationResultsPlural!: string;
  @Prop({ required: true })
  locationResultsSingular!: string;

  @Prop({ required: true })
  loadingResultsText!: string;

  @State
  public introduced!: boolean;

  @State searchType!: SearchType;
  @State searchString!: string;
  @State currentSearchString!: string;

  @State location!: LatLng;

  @State dealers!: Dealer[];
  @State loading!: boolean;

  @Getter types!: Filter[];
  @Getter markets!: Filter[];
  @Getter crops!: Filter[];
  @Getter filteredDealers!: Dealer[];

  @State resultsSearchString!: string;
  @Mutation setResultsSearchString!: (payload: string) => void;

  @State filters!: FilterIdSet;
  @Mutation setFilters!: (payload: FilterIdSet) => void;

  @State
  public sortOrder!: SortOrder;
  @Mutation setSortOrder!: (payload: SortOrder) => void;

  get resultsCount() {
    if (this.loading) return this.loadingResultsText;

    return this.filteredDealers.length === 1
      ? [this.filteredDealers.length, this.dealerResultsSingular].join(" ")
      : [this.filteredDealers.length, this.dealerResultsPlural].join(" ");
  }

  get searchValue() {
    return this.searchType === SearchType.SearchString
      ? this.currentSearchString
      : this.yourLocationText;
  }

  filtersOpen = false;
  filterCache = {
    resultsSearchString: "",
    filters: {
      markets: [] as number[],
      crops: [] as number[],
      types: [] as number[]
    },
    sortOrder: SortOrder.Ascending
  };

  resetFilters() {
    this.setResultsSearchString(this.filterCache.resultsSearchString);
    this.setSortOrder(this.filterCache.sortOrder);
    this.setFilters(this.filterCache.filters);
    this.handleFiltersOpen();
  }

  cacheFilters() {
    this.filterCache.resultsSearchString = this.resultsSearchString;
    this.filterCache.filters = this.filters;
    this.filterCache.sortOrder = this.sortOrder;
  }

  handleFiltersOpen() {
    if (!matchMedia("(min-width: 768px").matches) {
      this.filtersOpen = !this.filtersOpen;
      if (this.filtersOpen) {
        disableBodyScroll(this.$refs.filters as HTMLElement);
        this.cacheFilters();
      } else {
        enableBodyScroll(this.$refs.filters as HTMLElement);
        this.mobileHeaderScrollListener();
      }
    }
  }

  mobileHeaderScrollListener() {
    // get height of bottom of .seminis-dealer-sidebar-search
    if (this.$refs.sidebarSearch === undefined) return;

    const top =
      (this.$refs.sidebarSearch as HTMLElement).offsetHeight +
      (this.$refs.sidebarSearch as HTMLElement).offsetTop +
      parseInt(
        getComputedStyle(this.$refs.sidebarSearch as Element, null).marginBottom
      );

    // if we've scrolled beyond it, affix the header
    if (window.pageYOffset > top) {
      (this.$refs.mobileFilterHeader as HTMLElement).classList.add(
        "scroll-affixed"
      );
    }
    // if not, unaffix it
    else {
      (this.$refs.mobileFilterHeader as HTMLElement).classList.remove(
        "scroll-affixed"
      );
    }
  }

  checkFilterBarAffix(e: MediaQueryListEvent | MediaQueryList) {
    // If we're on desktop do nothing
    if (e.matches) {
      window.removeEventListener("scroll", this.mobileHeaderScrollListener);
      enableBodyScroll(this.$refs.filters as HTMLElement);
      return;
    } else {
      window.addEventListener("scroll", this.mobileHeaderScrollListener, {
        passive: true
      });
    }
  }

  mounted() {
    this.checkFilterBarAffix(matchMedia("(min-width: 768px"));
    matchMedia("(min-width: 768px").addListener(this.checkFilterBarAffix);
  }
}
</script>

<style lang="scss" scoped>
.seminis-dealer-locator-mobile-only {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.seminis-dealer-locator-hide-mobile {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.seminis-dealer-mobile-options {
  padding: #{(45/18)}em var(--padding-x) 0;

  .seminis-dealer-sort-container {
    margin: #{(40/18)}em 0;
  }
}

.seminis-dealer-sidebar {
  height: auto;
  // overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.seminis-dealer-sidebar-title {
  margin: 1em calc(var(--padding-x) / (45 / 18)) #{(24/45)}em;
  font-size: #{(45 / 18)}em;
  font-weight: bold;
  flex-shrink: 0;
}
.seminis-dealer-sidebar-search {
  margin: #{(20 /18)}em var(--padding-x);
  flex-shrink: 0;

  @media screen and (min-width: 768px) {
    margin: 0;
    padding: #{(20 /18)}em var(--padding-x) #{(40/14)}em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: relative;
  }

  .seminis-dealer-sidebar-search-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: #{(14/18)}em;
    margin-bottom: #{(7/14)}em;
    color: var(--secondary-color);

    &.seminis-dealer-locator-hide-mobile {
      margin-top: #{(25/14)}em;
    }
  }

  .seminis-dealer-sidebar-search-input {
    margin: #{(7/18)}em 0;
  }

  .seminis-dealer-sidebar-search-location {
    font-size: #{(16/18)}em;
  }

  .seminis-dealer-sidebar-location-result {
    font-size: #{(14/18)}em;
    margin-top: #{(18/14)}em;
  }
  .seminis-dealer-sidebar-location-result-search-value {
    color: var(--primary-color);
  }
}

.seminis-dealer-results-search-label {
  span {
    font-size: #{(14/18)}em;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.seminis-dealer-sidebar-filters {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  transition: left 250ms ease-in-out;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;

  &.open {
    left: 0;
  }

  @media screen and (min-width: 768px) {
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    height: auto;
    flex-shrink: 1;
  }

  .seminis-dealer-sidebar-filter-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    background-color: #fff;
    padding: 20px var(--padding-x);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16);

    &.placeholder {
      position: static;
      opacity: 0;
      pointer-events: none;
    }

    .seminis-dealer-action-btn {
      font-size: #{(16/18)}em;
      cursor: pointer;
      padding: #{(15/16)}em 0.5em #{(13/16)}em;
      border: 2px solid var(--primary-color);
      color: var(--primary-color);
      text-align: center;
      font-weight: 500;
      width: calc(50% - 5px);
      box-sizing: border-box;

      &.seminis-dealer-btn-primary {
        color: #fff;
        background-color: var(--primary-color);
      }
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &-header {
    padding: 1em calc(var(--padding-x) / (15 / 18)) #{(8/15)}em;
    font-weight: bold;
    font-size: #{(15/18)}em;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    transform: translate3d(0, 0, 0);

    &.scroll-affixed,
    &.filter-affixed {
      padding-bottom: 1em;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 20000000;
    }

    .seminis-dealer-sidebar-filters-toggle {
      color: var(--primary-color);
      cursor: pointer;
      svg {
        width: auto;
        height: 1em;
        path {
          fill: currentColor;
        }
        margin-right: 8px;
      }
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &-list {
    overflow-y: auto;
  }
}
</style>
