<template lang="pug">
    input.seminis-dealer-results-header-search(
        type="text"
        :value="resultsSearchString"
        @input="setResultsSearchString($event.target.value)"
    )
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { State, Mutation } from "vuex-class";

@Component({})
export default class SeminisDealerResultSearch extends Vue {
  @State resultsSearchString!: string;
  @Mutation setResultsSearchString!: (payload: string) => void;
}
</script>

<style lang="scss" scoped>
input {
  all: unset;
  appearance: none;
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--border-color);
  padding: 1rem 1.25rem;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  font-size: #{(16/18)}em;

  &::placeholder {
    font-weight: normal;
  }
}
</style>
