<template lang="pug">
  .seminis-dealer-search-container
    input(
        ref="places"
        @input="updateSearchString"
        :value="searchString"
        :placeholder="placeholder"
    ).seminis-dealer-search
    SeminisDealerLocation.seminis-dealer-search-location

</template>

<script lang="ts">
/// <reference types="@types/googlemaps" />
import Vue from "vue";

import { Component, Prop, Watch } from "vue-property-decorator";
import { State, Mutation, Action } from "vuex-class";
import LatLng from "@/models/LatLng";
import { SearchType } from "../store";
import SeminisDealerLocation from "./SeminisDealerLocation.vue";

@Component({
  components: {
    SeminisDealerLocation
  }
})
export default class SeminisDealerSearch extends Vue {
  autocomplete!: google.maps.places.Autocomplete;

  @State
  public searchString!: string;

  @State
  public googleMapsApiReady!: boolean;

  @Mutation setSearchString!: (payload: string) => void;

  @Mutation setLocation!: (payload: LatLng) => void;
  @Mutation setSearchType!: (payload: SearchType) => void;
  @Action fetchDealers!: () => void;

  @Prop({ default: false })
  forceFocus!: boolean;

  @Prop({ default: "" })
  placeholder!: string;

  @Prop({ default: true })
  withPlaces!: boolean;

  autocompleteInitialized = false;

  @Watch("forceFocus")
  onForceFocusChanged(val: boolean, oldVal: boolean) {
    if (val && !oldVal) {
      (this.$refs.places as HTMLInputElement).focus();
      (this.$refs.places as HTMLInputElement).setSelectionRange(-1, -1);
    }
  }

  @Watch("googleMapsApiReady")
  onGoogleMapsApiReady(val: boolean) {
    if (val) this.setupAutocomplete();
  }

  updateSearchString(e: InputEvent): void {
    this.setSearchString((e.target as HTMLInputElement).value);
  }

  setupAutocomplete() {
    if (!this.withPlaces) return;
    if (this.autocompleteInitialized) return;

    this.autocomplete = new window.google.maps.places.Autocomplete(
      this.$refs.places as HTMLInputElement,
      {
        fields: ["geometry.location"]
      }
    );

    this.autocomplete.addListener("place_changed", () => {
      const place: google.maps.places.PlaceResult = this.autocomplete.getPlace();

      if (
        place.geometry &&
        "location" in place.geometry &&
        "lat" in place.geometry.location &&
        "lng" in place.geometry.location
      ) {
        this.setLocation({
          lat: place.geometry.location.lat(),
          lon: place.geometry.location.lng()
        });
        this.setSearchString((this.$refs.places as HTMLInputElement).value);
        this.setSearchType(SearchType.SearchString);
        this.fetchDealers();
      }
    });

    this.autocompleteInitialized = true;
  }

  mounted() {
    if (this.googleMapsApiReady) this.setupAutocomplete();
  }
}
</script>

<style lang="scss" scoped>
input {
  all: unset;
  appearance: none;
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--border-color);
  padding: 1rem 2.5rem 1rem 1.25rem;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  font-size: #{(16/18)}em;

  &::placeholder {
    font-weight: normal;
  }
}
.seminis-dealer-search-container {
  position: relative;
}
.seminis-dealer-search-location {
  position: absolute;
  right: 0.9rem;
  top: 50%;
  transform: translateY(calc(-50% + 3px));
}
</style>
