<template>
  <div id="app">
    <SeminisDealerLocator
      dealer-api-endpoint="http://localhost:6110/api/dealer/search"
      google-maps-api-key="AIzaSyD7OabTiOaL9xKv3-tF5v_kCVwn2KN3ADQ"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SeminisDealerLocator from "./components/SeminisDealerLocator.vue";

@Component({
  components: {
    SeminisDealerLocator
  }
})
export default class App extends Vue {}
</script>

<style lang="scss">
body {
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
